<div class="field">
    <%= object.label :name %><br />
    <%= object.text_field :name %>
</div>
<div class="field">
    <%= object.label :email %><br />
    <%= object.text_field :email %>
</div>
<div class="field">
    <%= object.label :password %><br />
    <%= object.password_field :password %>
</div>
<div class="field">
    <%= object.label :password_confirmation, "Confirmation" %><br />
    <%= object.password_field :password_confirmation %>
</div>